.image {
  display: inline-block;
  width: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid transparent;
}

.image:hover {
  border: 1px solid black;
}

a {
  display: inline-block;
}
