/* _______All page________ */

body {
font-family: 'Roboto', sans-serif;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* _______Header_______ */

.header {
  background-color: #1c5bc3;
}

.contacts__phone {
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
}

.contacts__desc {
  opacity: 0.7;
  color: #ffffff;
  font-size: 14px;
  text-decoration: underline;
}

/* ______Navigation_______ */

.nav__link {
  color: #1c5bc3;
  font-size: 12px;
  font-weight: 700;
  line-height: 54px;
  text-transform: uppercase;
  letter-spacing: 2.4px;
}

.nav__link:hover {
  color: #221f1f;
}

.nav__text {
  display: inline-block;
}

/* ______Breadcrumbs______ */

.breadcrumbs li {
  display: inline-block;
}

.breadcrumbs__item {
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
}

.breadcrumbs__item:first-child {
  text-decoration: underline;
}

.breadcrumbs__item:last-child:before {
  content: "/";
}

/* ______Crew______ */

.crew__ava-img {
  width: 160px;
  height: 160px;
  border-radius: 50% 50%;

}

.crew__name {
  color: #221f1f;
  font-size: 18px;
  font-weight: 700;
}

.crew__prof {
  color: #1c5bc3;
  font-size: 14px;
  font-weight: 700;
}

.crew__text {
  font-size: 14px;
  font-weight: 300;
}

/* ______Footer_______ */

.footer {
  background-color: #1c5bc3;
}

.footer__text {
  width: 235px;
  height: 50px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
}

.footer__text_ls, .footer__text-author {
  font-weight: 700;
}

.footer__text_ls {
  text-decoration: underline;
}

.socials__title {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
}

.socials__list li {
  display: inline-block;
}

.socials__item {
  width: 20px;
  height: 20px;
  text-align: center;
  background-color: #d3dff3;
  border-radius: 50% 50%;
}

.socials__item:hover {
  background-color: #ffffff;
}
