/* Подключение шрифтов с Google Fonts - Cuprum */
@import url('https://fonts.googleapis.com/css?family=Cuprum:400,400i&subset=cyrillic');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Cuprum', sans-serif;
    background-image: url(images/39.jpg);
    height: 800px;
}

#navigation {
    height: 64px;
    margin-left: 100px;
    position: fixed;
    background-color: rgba(80, 20, 20, 0.52);
    width: 1210px;
}

#navigation ul li {
    float: left;
    list-style-type: none;
    position: relative;
}

#navigation ul li a {
    padding: 0 10px;
    text-decoration: none;
    line-height: 64px;
    display: block;
    height: 64px;
}

#navigation ul li a:hover {
    background: rgba(80, 20, 20, 0.52);
    text-decoration: underline;
}

#navigation .dropdown {
    position: absolute;
    top: 100%;
    width: 150px;
    background-color: #60785E;
    text-align: center;
    display: none;
}

#navigation li:hover .dropdown {
  display: block;
}

#navigation .dropdown li {
    width: 100%;
    height: 45px;
}

#navigation .dropdown li a {
    line-height: 45px;
    height: 45px;
}

img {
  height: 160px;
}

header {
  height: 160px;
  display: block;
  position: absolute;
  top: 95px;
  left: 100px;
}

.search {
  position: absolute;
  top: 18px;
  left: 1000px;
}

input {
  color: #000000;
}

.content {
  display: block;
  /* border: 2px solid silver; */
  position: relative;
  top: 285px;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 300px;
}

article {
  display: block;
  border: 2px solid silver;
  margin: 5px;
  position: absolute;
  width: 73%;
  height: 280px;
}

aside {
  display: block;
  border: 2px solid silver;
  margin: 5px;
  position: absolute;
  right: 1%;
  width: 23%;
  height: 280px;
}

.sidebar {
  list-style: none;
  padding: 10px;
  text-align: center;
}

footer {
  display: block;
  border: 2px solid silver;
  position: absolute;
  top: 580px;
  left: 5%;
  right: 5%;
  width: 90%;
}

p, h1 {
  padding: 10px;
}

/* Спрайты */
.icon {
  background-position: bottom;
  display: inline-block;
  height: 56px;
  width: 58px;
  background-image: url(images/social.png);
}

.icon.icon-facebook {
  background-position: 0 0;
}

.icon.icon-facebook:hover {
  background-position: 0 -70px;
}

.icon.icon-rss {
  background-position: -62px 0;
}

.icon.icon-rss:hover {
  background-position: -62px -70px;
}
